// Mobile first iphone 8 750px

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./Utils/variables";
@import "./Utils/mixins";

*{
    box-sizing: border-box;
}

body {
    @media (min-width: $breakpoint-tablet) {
        max-width: 100%;
    }
    @media (min-width: $breakpoint-desktop) {
        max-width: 100%;
    }
    @include body-position;
}

//header / logo part

#header {
    padding-left: 1.5rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    padding-top: 1rem;      
    padding-bottom: .5rem;
    @include box-shadow;
    .fa-arrow-left {
        font-size: 1.3rem;
        font-weight: 700;
        color: #000;
    }
    h1 {
        font-family: $fontLogoAndTitles;
        font-weight: 700;
        color: #000;
        width: fit-content;
        margin: auto;
        justify-content: center;
    }
}

// Restaurant name & favorite part  

.menu {
    figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    .menu__background {
        @media (min-width: $breakpoint-tablet) {
            height: 50rem;
        }
        @media (min-width: $breakpoint-desktop) {
            height: 50rem;
        }
    width: 100%;
    height: 320px;        
    object-fit: cover;
    position: relative;
    z-index: -1;
    }    
    &__body {
        @media (min-width: $breakpoint-tablet) {
            display: flex;
            flex-flow: column;
        }
        @media (min-width: $breakpoint-desktop) {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }
        background: $clrBackground;
        margin-top: -15%;
        padding: .8rem;
        border-radius: 2rem 2rem 0 0;    
        .card__header {
            margin-bottom: -1rem;
            padding-right: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2 {
                font-family: $fontLogoAndTitles;
                font-size: 1.4rem;
            }
            &__favorite {                 
                font-size: 1.4rem;
                color: grey;
                cursor: pointer;
                .fas {
                    opacity: 0;                
                    &:hover {                         
                        animation: loaderHeart 500ms forwards;
                        background: linear-gradient( #9356DC 30%, #FF79DA);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;    
                    }
                }
            }
        }
        h3 {
            @media (min-width: $breakpoint-desktop) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            text-transform: uppercase;
            font-family: $fontTxt;
            font-size: .9rem;
            font-weight: 400;
            position: relative;
            margin-top: 2.5rem;
            margin-bottom: 1.5rem;
            &::after {
            content:"";
            position: absolute;        
            bottom: -.5rem;
            width: 10%;
            display: block;
            height: .2rem;
            background-color: $clrTertiary;
            }
        }
        p {
            font-size: .9rem;
            font-family: $fontTxt;
        }
    }
}
.entrees {    
    animation: fadeIn 1500ms forwards;
}
.plats {
    animation: fadeIn 1500ms both 1500ms;
}
.desserts {
    animation: fadeIn 1500ms both 3000ms;
}

// Menu items part

.btn {    
    @media (min-width: $breakpoint-desktop) {
        margin: 2rem;
    }
    @include margin-left-and-right;
    @include box-shadow;    
    background-color: #fff;
    border-radius: 1rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.1rem;
    display: flex;
    overflow: hidden;
    &:hover {
        animation: cardSelect 300ms forwards;
        .btn__body__animation {
            width: 25%;    
        }
        .fa-check-circle {
            animation: rotate 1000ms forwards;
        }
    }
    &__body {
        display: flex;
        width: 100%;
        &__animation {            
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1rem;
            height: 100%;
            order: 2;
            background: $clrTertiary;
            width: 0;
            transition: all 600ms cubic-bezier(.49,.15,0,1.01);
        }
        .fa-check-circle {
            font-size: 1.8rem;
            color: #fff; 
        }
        &__name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: .5rem;
            font-family: $fontTxt;
            width: 100%;
            display: flex;
            flex-flow: column;
            h4 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 700;
                margin-top: 1rem;
                margin-left: .5rem;
            }
            &--label{
                @media (min-width: $breakpoint-desktop) {
                    padding-right: 2rem;
                }
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: -1rem;
                margin-left: .5rem;
                padding: 0 ;
            }
        }
        &__price {
            font-weight: 700;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}
.menu__background--alt {
    @media (min-width: $breakpoint-tablet) {
        object-position: -1.2rem -10rem;
        height: 50rem;
    }
    @media (min-width: $breakpoint-desktop) {        
    object-position: -1.2rem -70rem;
    height: 50rem;
    }
width: 110%;
height: 320px;        
object-fit: cover;
object-position: -1.2rem -8rem;
position: relative;
z-index: -1;
}
.orderBtn {
    @media (min-width: $breakpoint-desktop) {
        margin-top: 7.5rem;
    }
    display: flex;
    margin: auto;
    justify-content: center;
    width: fit-content;
    margin-top: 3rem;
    margin-bottom: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background: $gradient;
    border-radius: 30px;
    @include box-shadow;
    &:hover {
        animation: cardSelect 300ms forwards;
    }
    a {
        font-family: $fontTxt;
        text-decoration: none;
        color: #fff;
    }
}
footer {
    @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        ul {
            display: flex;
            flex-flow: row nowrap;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        ul {
            display: flex;
            flex-flow: row nowrap;
        }
    }
    @include footer;
}