// Mobile first iphone 8 750px

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/keyframes";

*{
    box-sizing: border-box;
}

body {
    @include body-position;
    @media (min-width: $breakpoint-tablet) {
        max-width: 100%;
    }
    @media (min-width: $breakpoint-desktop) {
        max-width: 100%;
    }
}    
header {
    padding-top: 1rem;      
    padding-bottom: 1rem;
    @include box-shadow;
}
header {
    h1 {
    font-family: $fontLogoAndTitles;
    font-weight: 700;
    color: #000;
    width: fit-content;
    margin: auto;
    justify-content: center;
    }  
}

// Banner part

.location {    
    padding: 0.6rem;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $clrLocation;

    .location__input {
        width: 40%;
        font-weight: 700;
        font-family: $fontTxt;
        border: none;
        outline: none;
        opacity: 1;
        background: $clrLocation;
        text-align: center;
    }
}

// research part

#search {
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: $clrBackground;
    font-family: $fontTxt;

        h2 {
            margin-bottom: -0.5rem;
            font-weight: 700;
            text-align: center;
        }

        p {
            font-weight: 400;
            text-align: center;
        }

        .search__btn {
            margin-top: 0.5rem;
            padding: 1rem;
            background: $gradient;
            border-radius: 30px;
            @include box-shadow;
            &:hover {
                animation: cardSelect 300ms forwards;
            }

            a {
                text-decoration: none;
                color: #fff;
            }
        }
}

// order step part

#order {
    font-family: $fontTxt;
    color: #000;
    margin-right: 1rem;
    ul {
        @media (min-width: $breakpoint-tablet) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        }
        @media (min-width: $breakpoint-desktop) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }
    h2 {
    margin: 1.5rem;
    font-weight: 700;
    }
    a {
    @media (min-width: $breakpoint-tablet) {
        text-align: center;
    }
    width: 100%;
    padding-right: 2rem;    
    display: flex; 
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-family: $fontTxt;
    color: #000;
    }
    li {   
        @media (min-width: $breakpoint-tablet) {
        flex-flow: row wrap;
        width: 33.33%;
        margin-left: 2rem;
        justify-content: center;
        }        
        position: relative;
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
        background: $clrBackground;
        font-family: $fontTxt;
        font-weight: 700;
        @include box-shadow;
        &:hover {
            animation: functioning 300ms forwards;
            .btnIcon {                            
            animation: iconColor 1000ms forwards;
            }
        }
        .order__list__number {
            width: 1.5rem;
            height: 1.5rem;
            color: #fff;
            background: $clrPrimary;
            border-radius: 1rem;    
            position: absolute;
            left: -.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .7rem;
        }        
        .btnIcon {
            font-size: 1.2rem;
            color: grey;
        }
    }
}

//  Restaurant part 

#restaurants {
    @media (min-width: $breakpoint-tablet) {
        display: flex;
        flex-flow: wrap row;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
    @media (min-width: $breakpoint-desktop){
        margin-bottom: 2rem;
        display: flex;
        flex-flow: wrap row;
    }
    margin-top: 4rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: $clrBackground;
    h2 {
        @media (min-width: $breakpoint-tablet) {
            width: 100%;
        }
        font-family: $fontTxt;
        font-weight: 700;
    }
    .card {
        @media (min-width: $breakpoint-tablet) {
            margin-bottom: 2rem;
            margin-left: 2rem;
        }
        @media (min-width: $breakpoint-desktop) {
            display: flex;
            width: 45%;
            margin: 2rem;
        }
        @include box-shadow;  
        border-radius: 1rem 1rem 1rem 1rem;
        margin-bottom: 1.5rem;
        position: relative;
        &:hover {
            animation: cardSelect 300ms forwards;
        }
        
        a { 
            @media (min-width: $breakpoint-tablet) {
                width: 15rem;
            }
            @media (min-width: $breakpoint-desktop) {
                display: flex;
                width: 100%;
            }
            text-decoration: none;
            color: #000;          
            display: flex;
            flex-flow: column;
            figure { 
                position: relative;
                border-radius: 1rem 1rem 0 0;
                margin: 0;
                padding: 0; 
                overflow: hidden; 
                height: 150px;
                figcaption {
                    display: flex;
                    font-family: $fontTxt;
                    font-weight: 700;
                    padding: 0 1rem;
                    font-size: 1rem;
                    background: $clrTertiary;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    border-radius: .2rem;
                    color: darken($color: $clrTertiary, $amount: 35);
                    line-height: .1rem;
                    animation: new 2000ms forwards infinite;
                }       
                .card__img {
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                }
            }
            .card__body {
                margin-top: .1rem;
                margin-left: 1rem;
                margin-right: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__label {
                    h3 {
                        font-family: $fontTxt;
                        font-weight: 700;
                        margin-bottom: -.5rem;
                        font-size: 1rem;
                    }
                    p {
                        font-family: $fontTxt;
                        font-weight: 400;
                        font-size: .91rem;
                    }
                }                
            }  
        }
        &__favorite {  
            position: absolute;  
            bottom: 1rem;
            right: 1rem;             
            font-size: 1.4rem;
            color: grey;
            cursor: pointer;
            .fas {
                opacity: 0;
                &:hover {
                    animation: loaderHeart 500ms forwards;                        
                    background: linear-gradient( #9356DC 30%, #FF79DA);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    } 
}


.card2 {
    border-radius: 1rem 1rem 0 0;
    margin: 0;
    padding: 0;
    height: 150px;
}
.card2__img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card2__body {
    margin-top: .1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__label {
        h3 {
            font-family: $fontTxt;
            font-weight: 700;
            margin-bottom: -.5rem;
            font-size: 1rem;
        }
        p {
            font-family: $fontTxt;
            font-weight: 400;
            font-size: .91rem;
        }
    }
}


// footer part

footer {
    @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: -30px;
        ul {
            display: flex;
            flex-flow: row nowrap;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: -30px;
        ul {
            display: flex;
            flex-flow: row nowrap;
        }
    }
    @include footer;
}

// loader part

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 999;
        animation: loading 3000ms forwards ease;
    }      
    p {  
        position: absolute;
        padding-right: 1rem;
        padding-left: 1rem;
        z-index: 999;
        top: 30%;
        font-family: $fontLogoAndTitles;
        font-size: 3rem;               
        background: linear-gradient(60deg, #9356DC, #99E2D0, #FF79DA );
        background-clip: text;
        -webkit-text-fill-color: transparent;        
        background-size: 500% 500%;
        animation: backgroundText 3000ms ease both, loading 3000ms ease both;
    }
    &__icon {
        position: absolute;
        top: 55%;
        z-index: 999;
        font-size: 3rem;        
        background: linear-gradient(60deg, #9356DC, #99E2D0, #FF79DA );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 500% 500%;
        animation: backgroundText 3000ms ease both, loading 3000ms ease both, utensils 3000ms ease both;
    }  
}