// Mobile first iphone 8 750px

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/keyframes";

body {
    @include body-position;
}

header {
    padding-top: 1rem;      
    padding-bottom: 1rem;
    @include box-shadow;
}

header {
    h1 {
    font-family: $fontLogoAndTitles;
    font-weight: 700;
    color: #000;
    width: fit-content;
    margin: auto;
    justify-content: center;
    }  
}
// Banner part

.location {    
    padding: 0.6rem;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $clrLocation;

    .location__input {
        width: 40%;
        font-weight: 700;
        font-family: $fontTxt;
        border: none;
        outline: none;
        opacity: 1;
        background: $clrLocation;
        text-align: center;
    }
}

// research part

#search {
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: $clrBackground;
    font-family: $fontTxt;

        h2 {
            margin-bottom: -0.5rem;
            font-weight: 700;
            text-align: center;
        }

        p {
            font-weight: 400;
            text-align: center;
        }

        .search__btn {
            margin-top: 0.5rem;
            padding: 1rem;
            background: $gradient;
            border-radius: 30px;
            @include box-shadow;
            &:hover {
                animation: cardSelect 300ms forwards;
            }

            a {
                text-decoration: none;
                color: #fff;
            }
        }
}

// order step part

#order {
    font-family: $fontTxt;
    color: #000;
    margin-right: 1rem;

    h2 {
    margin: 1.5rem;
    font-weight: 700;
    }

    a {
    width: 100%;
    padding-right: 2rem;    
    display: flex; 
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-family: $fontTxt;
    color: #000;
    }

    li { 
        position: relative;
        list-style: none;
        @include list-btn;
        @include box-shadow;
        &:hover {
            animation: functioning 300ms forwards;
        }

        .order__list__number {
            @include list-number;
        }  
        
        .btnIcon {
            font-size: 1.2rem;
            color: grey;
        }
    
        .btnIcon--alt {
            font-size: 1.2rem;
            color: $clrPrimary;
        }
    }
}

//  Restaurant part 

#restaurants {
   @include restaurants;   
}


.card2 {
    border-radius: 1rem 1rem 0 0;
    margin: 0;
    padding: 0;
    height: 150px;
}
.card2__img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card2__body {
    margin-top: .1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__label {
        h3 {
            font-family: $fontTxt;
            font-weight: 700;
            margin-bottom: -.5rem;
            font-size: 1rem;
        }
        p {
            font-family: $fontTxt;
            font-weight: 400;
            font-size: .91rem;
        }
    }
}

// footer part

footer {
    @include footer;
}

// loader part

.loader {
    display: flex;
    justify-content: center;
    pointer-events: none;
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 999;
        animation: loading 3500ms forwards ease;
    }  
    
    p { 
        padding: 5px;
        z-index: 999;
        display: flex;
        flex-flow: column;
        position: fixed;
        top: 30%;
        font-family: $fontLogoAndTitles;
        font-size: 4rem;                    
        background: linear-gradient(60deg, #9356DC, #99E2D0, #FF79DA );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 500% 500%; 
        animation: backgroundText 2500ms ease infinite, loading 3500ms forwards ease;           
    }
    &__icon {
        font-size: 4rem;
        color: $clrTertiary;
        animation: utensils 2500ms ease infinite;
    }
   
}