@keyframes functioning {
    0% {
        background: #f6f6f6;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
    }
    100% {
        background: lighten(#9356DC, 35%);
        box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.281);
    }
}

@keyframes iconColor {
    0% {
        color: grey;
    }
    100% {
        color: #9356DC;
    }
}

@keyframes cardSelect {
    0% {
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
    }
    100% {
        box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.281);
    } 
}
@keyframes loaderHeart {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes check {
    0% {      
        width: 0;
    }
    100% {
        width: 30%;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes backgroundText {
    0% {
        background-position:0% 50%;
    }
    50% {
        background-position:100% 50%;
    }
    100% {
        background-position:0% 50%;
    }   
}
@keyframes utensils {
    0% {
        opacity: 0;
        transform: translateX(-283%);
    }
    50% {
        opacity: 1;
        transform: translateX(190%);
    }
    100% {
        opacity: 0;
        transform: translateX(-283%);
    }
}
@keyframes loading {
    0%{ 
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}
@keyframes new {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}