@import "./variables";
@import "./keyframes";

@mixin body-position {
    max-width: 750px;
    min-width: 320px;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: -50rem;
}

@mixin footer {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    background: #353535;
    img{        
        width: 7rem;
        filter: invert(1);
        @include margin-left-and-right;
    }
    ul {
        list-style: none;
        padding-inline-start: 0;
    }
    li {        
        margin-bottom: .5rem;
        font-family: $fontTxt;
        @include margin-left-and-right;  
        a {
            text-decoration: none;
            color: #fff;
        }      
    }
    .icon {
        margin-right: .5rem;
        font-size: .8rem;
    }
}

@mixin box-shadow {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.281);
}

@mixin margin-left-and-right {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

@mixin list-btn {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    background: $clrBackground;
    font-family: $fontTxt;
    font-weight: 700;
}

@mixin list-number {
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
    background: $clrPrimary;
    border-radius: 1rem;    
    position: absolute;
    left: -.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
}


@mixin header {    
    padding-left: 1.5rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    padding-top: 1rem;      
    padding-bottom: .5rem;
    @include box-shadow;
    .fa-arrow-left {
        font-size: 1.3rem;
        font-weight: 700;
        color: #000;
    }
    h1 {
        font-family: $fontLogoAndTitles;
        font-weight: 700;
        color: #000;
        width: fit-content;
        margin: auto;
        justify-content: center;
    }
}

@mixin background {
    figure {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }       
    .menu__background {
    width: 100%;
    height: 320px;        
    object-fit: cover;
    position: relative;
    z-index: -1;
    }  
}

@mixin restaurants {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: $clrBackground;
    h2 {
        font-family: $fontTxt;
        font-weight: 700;
    }
    .card {
        @include box-shadow;
        border-radius: 1rem 1rem 1rem 1rem;
        margin-bottom: 1.5rem;
        
        a { 
            text-decoration: none;
            color: #000;          
            display: flex;
            flex-flow: column;
            figure {
                border-radius: 1rem 1rem 0 0;
                margin: 0;
                padding: 0; 
                overflow: hidden; 
                height: 150px;        
                .card__img {
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                }
            }
            .card__body {
                margin-top: .1rem;
                margin-left: 1rem;
                margin-right: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__label {
                    h3 {
                        font-family: $fontTxt;
                        font-weight: 700;
                        margin-bottom: -.5rem;
                        font-size: 1rem;
                    }
                    p {
                        font-family: $fontTxt;
                        font-weight: 400;
                        font-size: .91rem;
                    }
                }
                &__favorite {                 
                    font-size: 1.4rem;
                    color: grey;
                    cursor: pointer;
                    .fas {
                        opacity: 0;
                        &:hover {
                            animation: loaderHeart 300ms forwards;                        
                            background: linear-gradient(#9356DC, #FF79DA);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }  
        }
    }
}

@mixin menu-body {
    background: $clrBackground;
    margin-top: -15%;
    padding: .8rem;
    border-radius: 2rem 2rem 0 0;    
    .card__header {
        margin-bottom: -1rem;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-family: $fontLogoAndTitles;
            font-size: 1.4rem;
        }
        &__favorite {                 
            font-size: 1.4rem;
            color: grey;
            cursor: pointer;
            .fas {
                opacity: 0;                
                &:hover {                         
                    animation: loaderHeart 300ms forwards;
                    background: linear-gradient(#9356DC, #FF79DA);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;    
                }
            }
        }
    }
    h3 {
        text-transform: uppercase;
        font-family: $fontTxt;
        font-size: .9rem;
        font-weight: 400;
        position: relative;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        &::after {
        content:"";
        position: absolute;        
        bottom: -.5rem;
        width: 10%;
        display: block;
        height: .2rem;
        background-color: $clrTertiary;
        }
    }
    p {
        font-size: .9rem;
        font-family: $fontTxt;
    }

    .btn {
        @include box-shadow;
        background: #fff;
        border-radius: 1rem;
        margin-bottom: .8rem;
        padding-left: 1rem;
        padding-right: 1.5rem;
        display: flex;
        flex-flow: column wrap;
        &__title {
            font-weight: 700;
            margin-bottom: -.6rem;
        }
        &__label {
            display: flex;
            justify-content: space-between;
            &__name {
                width: 70%;
                font-size: .8rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__price {
                text-align: right;
                font-weight: 700;
                font-size: .85rem;
            }
        }
    }
}


