$clrPrimary: #9356DC;
$clrSecondary: #FF79DA;
$clrTertiary: #99E2D0;
$clrLocation: #eaeaea;
$clrBackground: #f6f6f6ff;

$gradient: linear-gradient($clrSecondary, $clrPrimary);
$gradientIcon: linear-gradient($clrPrimary, $clrSecondary);

$fontLogoAndTitles: 'Shrikhand';
$fontTxt: 'Roboto';

$breakpoint-desktop: 1440px;
$breakpoint-tablet: 768px;